*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    background-color: #F3F3EF;
    font-family: 'Alkatra', cursive;
}

header {
    display: flex;
    justify-content: space-between;
}



.header-logo{
    height: 197px;
    width: 467px;
}
/* 
nav ul {
    display: flex;
    list-style: none;
    margin: 10px;
    padding: 5px;
  }

li {
    list-style: none;
    display: inline-block;
    padding: 30px 20px;
    font-size: 2.0rem;
} */

.full-width-image {
   width: 100%;
   height: 80vh;
   object-fit: cover;
}

.main-section {
    position: relative;
    background-color: white;
    margin: -20vh auto 0 auto;
    width: 800px;
    height: 650px;
    border-radius: 20%;
    padding: 30px 50px;
}

.main-section-button {
    display: block;
    margin: 30px auto 0 auto;
    height: 80px;
    width: 235px;
    font-size: 2.5rem;
}

.main-section-logo {
    height: 40%;
    width: 45%;
    margin: 0 auto;
    display: block;
    padding-top: 10px;
}

.apply-button {
    background-color: #AAD293;
    border: none;
    padding: 10px;
    border-radius: 25%;
    font-weight: bold;
    font-family: 'Alkatra', cursive;
}

.apply-button:hover {
    opacity: 0.65;
}

.apply-nav-button {
    display: block;
    margin: 0 auto 0 auto;
    height: 130px;
    width: 235px;
    font-size: 2.5rem;
}

h1 {
    text-align: center;
    font-size: 3.2rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-family: 'Montserrat'
}


.navbarStyle {
    margin-right: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.spanStyle {
    padding-top: 50px;
    margin: 25px;
    font-size: 2.5rem;
}

.spanStyle:hover {
    opacity: 0.65;
}

.about-section {
    background-color: white;
    padding: 30px 50px;
    width: 1200px;
    height: 300px;
    margin: 70px  auto;
    border-radius: 20%;

}


.date-section-image {
    opacity: 0.9;
}

.date-section {
    
    position: relative;
    background-color: white;
    margin: -60vh auto 0 auto;
    width: 300px;
    height: 450px;
    border-radius: 20%;
    padding: 30px 50px;
}

.date-section-div {
    display: flex;
    justify-content: space-evenly;
}