

/* || Universal styles */
/* || Full width image */
/* || Apply button styles */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    /* changes a default 16px font size to 10px */
    /* This allows us to use easy to translate rem units - 2.4rem = 24px */
    font-size: 62.5%;
  }
  

body {
    background-color: #F3F3EF;
    font-family: 'Raleway', sans-serif;
}


.full-width-image {
    margin-right: 0;
    opacity: 0.9;
    width: 100%;
    height: 80vh;
    object-fit: cover;
 }
 /* background-color: #AAD293; */

 .apply-button {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 2.6rem;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;    
}


.apply-button:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}
      
/* || Typography */

h1 {
    font-family: 'EB Garamond', serif;
    text-align: center;
    font-size: 5rem;
}

h2 {
    font-family: 'EB Garamond', serif;
    font-size: 4rem;
}

h3 {
    font-family: 'EB Garamond', serif;
    font-size: 3rem;
}

p,
span {
    font-size: 1.8rem;
}


/* || Header and main navigation */


header {
    display: flex;
    justify-content: space-between;
}

.header-logo{
    padding: 10px;
    height: 131px;
    width: 311px;
}

.apply-nav-button {
    display: block;
    margin: 0 auto 0 auto;
    height: 70px;
    width: 200px;
}

.navbar-style {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 700;
}

.span-style {
    padding-top: 10px;
    margin: 25px;
    font-size: 2.4rem;
}

.span-style:hover {
   color: #13aa52;
}

/* || Main section */



.main-section {
    position: relative;
    background-color: white;
    margin: -12rem auto 0 auto;
    width: 800px;
    height: 650px;
    padding: 30px 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main-section-button {
    display: block;
    margin: 30px auto 0 auto;
    height: 80px;
 
}

.main-section-logo {
    height: 20rem;
    width: 22rem;
    margin: 0 auto;
    display: block;
    padding: 2rem 0;
}


/* || About section */


.about-section {
    background-color: white;
    padding: 30px 50px;
    width: 1200px;
 
    margin: 70px  auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


/* || Bootcamp date section */

.bootcamp-dates {
   
    background-image: url("./images/bootcamp-date-section-background.jpg");
    height: 50vw;
    width: 100%;
    background-size:cover ;
    display: flex;
    align-items: center;
    justify-content: center;
}


.date-section {

    background-color: white;
    margin:  0 auto;
    width: 300px;
    height: 500px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.date-section-header {
    background-color: #173753;
    color: white;
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 3rem;
}

.date-section-main h3 {
    margin-bottom: 1rem;
    padding-left: 3rem;
}

/* .date-section-main {
    padding-left: 3rem;
    
} */

.date-section-main span {
    padding-top: 0;
    margin-top: 0;
    display: block;
    padding-bottom: 1.5rem;
    padding-left: 3rem;
}

.bootcamp-dates button {
    margin-top: 2rem;
}

.button-container {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* || Curriculum section */

.curriculum-section {
    max-width: 1200px;
    background-color: white;
    padding: 30px 50px;
    margin: 70px  auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.curriculum-list-section {
    width: 100%;
    display: flex;
    font-size: 2.2rem;
    justify-content: space-evenly;
}

.curriculum-list-section li{
    padding-top: 2rem;
   
}





/* || Review section */
.review-section {
    margin: 70px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("./images/alyson-mcphee-yWG-ndhxvqY-unsplash.jpg");
    height: 30vw;
    width: 100%;
    background-size:cover ;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
}

.review-section-inner p {
    font-size: 2.5rem;
}

/* || Footer */

footer {
    background-color: #173753;
    color: white;
    display: flex;
    justify-content: space-evenly;
   
    margin-top: 70px;
    height: auto;
    width: 100%;
    padding: 40px;
}
i {
    font-size: 4rem;
    padding-right: 2rem;
}

i:hover {
    color: #13aa52;
}

address {
    font-size: 2rem;
}
address a {
    color: white;
}

address a:hover {
    color: #13aa52;
}

/* || Media queries */
@media (min-width: 768px) {
    .apply-button {
      padding: 10px 30px;
    }
  }
